/* init */
@import './init/reset.css';
@import './init/variables.css';
@import './init/layout.css';
@import './init/base.css';
/* 3rd party */
@import './3rd-party/font-awesome.min.css';
/* components */
@import './components/footer.css';
@import './components/header.css';

/* CUSTOM STILIUS SEKCIJOMS */
/* header */

/* hero */
.hero-100 {
    height: 100vh;
    background-image: url('../img/home-bg.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
}

.container-table {
    height: 100%;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    display: table;
}

.center-content {
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-align: center;
    text-transform: capitalize;
}

.center-content > .cv-btn {
    color: white;
    text-decoration: none;
}
/* about me */

/* our services */

/* numbers */

/* education and experience */

/* hire me */

/* our work */

/* our client */

/* great people */

/* subscribe */

/* our blog */

/* get in touch */

/* footer */

/* back to top button */