/* init */
@import './init/reset.css';
@import './init/variables.css';
@import './init/layout.css';
@import './init/base.css';
/* 3rd party */
@import './3rd-party/font-awesome.min.css';
/* components */
/* @import './components/a_Button.css';
@import './components/about-me.css';
@import './components/backToTop.css';
@import './components/carousel.css';
@import './components/education.css';
@import './components/blog.css'; */
@import './components/footer.css';
/* @import './components/get-in-touch.css';
@import './components/great.people.css'; */
@import './components/header.css';
@import './components/hero.css';
/* @import './components/hire-me.css';
@import './components/numbers.css';
@import './components/our-client.css';
@import './components/our-services.css';
@import './components/subscribe.css';

@import './components/our-work.css'; */

/* CUSTOM STILIUS SEKCIJOMS */

/* header */

/* hero */
.hero-100{
    background-image: url("../../img/blog/header_img.jpg");

}
.h-100vh{
    height: 45vh;
}
.hero-100:after{
    content: none;
}
.blog-hero .container-fluid {
    padding: 110px;
    
}
.blog-hero a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 6;
    color: rgba(255, 255, 255, 0.55);
}
.blog-hero .blog-text{
    display: inline-block;
    text-transform: uppercase;
    z-index: 6;
}
.blog-hero h1 {
    margin-bottom: 20px;
}