.main_headings{
    text-transform: capitalize;
    font-size: 35px;
    color: #000;
}

.paragraph{
    font-size: 20px;
    color: #6c757d;
}

.asterisk::before, .asterisk::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #e9ecef;
    width: 2rem;
    margin: 7px 0.5rem;
}

