.bg-grey {
    background-color: var(--color-grey-lighter);
}
.bg-img {
    background-color: var(--color-grey);
}

.main_headings {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-size: 35px;
    color: var(--color-grey-dark);
    font-weight: 500;
    margin-bottom: 8px;
}
.main_headings > span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.paragraph {
    font-size: 16px;
    color: var(--color-grey);
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 16px;
    line-height: 23px;
}

.asterisk::before, .asterisk::after {
    display: inline-block;
    content: "";
    border-top: 1px solid var(--color-grey-border);
    width: 2rem;
    margin: 7px 0.5rem;
}

.fa.fa-asterisk {
    color: var(--color-grey-dark);
}

.center {
    text-align: center;
}
.background-overlay {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;   
}
