:root {
    --half-gap: 15px;
    --gap: calc(2 * var(--half-gap));
    --col1: calc(100% / 12 - var(--gap));
    --cg: calc(var(--gap) + var(--col1));
    --col2: calc(var(--col1) + var(--cg));
    --col3: calc(var(--col2) + var(--cg));
    --col4: calc(var(--col3) + var(--cg));
    --col5: calc(var(--col4) + var(--cg));
    --col6: calc(var(--col5) + var(--cg));
    --col7: calc(var(--col6) + var(--cg));
    --col8: calc(var(--col7) + var(--cg));
    --col9: calc(var(--col8) + var(--cg));
    --col10: calc(var(--col9) + var(--cg));
    --col11: calc(var(--col10) + var(--cg));
    --col12: calc(var(--col11) + var(--cg));

    --ml1: calc(var(--col1) + 3 * var(--half-gap));
    --ml2: calc(var(--ml1) + var(--cg));
    --ml3: calc(var(--ml2) + var(--cg));
    --ml4: calc(var(--ml3) + var(--cg));
    --ml5: calc(var(--ml4) + var(--cg));
    --ml6: calc(var(--ml5) + var(--cg));
    --ml7: calc(var(--ml6) + var(--cg));
    --ml8: calc(var(--ml7) + var(--cg));
    --ml9: calc(var(--ml8) + var(--cg));
    --ml10: calc(var(--ml9) + var(--cg));
    --ml11: calc(var(--ml10) + var(--cg));
}

.container,
.container-fluid {
    display: inline-block;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.container > .row,
.container-fluid > .row {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}
.row > [class*="col-"] {
    float: left;
    margin-left: var(--half-gap);
    margin-right: var(--half-gap);
}
.row > .col-1 {
    width: var(--col1);
}
.row > .col-2 {
    width: var(--col2);
}
.row > .col-3 {
    width: var(--col3);
}
.row > .col-4 {
    width: var(--col4);
}
.row > .col-5 {
    width: var(--col5);
}
.row > .col-6 {
    width: var(--col6);
}
.row > .col-7 {
    width: var(--col7);
}
.row > .col-8 {
    width: var(--col8);
}
.row > .col-9 {
    width: var(--col9);
}
.row > .col-10 {
    width: var(--col10);
}
.row > .col-11 {
    width: var(--col11);
}
.row > .col-12 {
    width: var(--col12);
}

.row > .ml-1 {
    margin-left: var(--ml1);
}
.row > .ml-2 {
    margin-left: var(--ml2);
}
.row > .ml-3 {
    margin-left: var(--ml3);
}
.row > .ml-4 {
    margin-left: var(--ml4);
}
.row > .ml-5 {
    margin-left: var(--ml5);
}
.row > .ml-6 {
    margin-left: var(--ml6);
}
.row > .ml-7 {
    margin-left: var(--ml7);
}
.row > .ml-8 {
    margin-left: var(--ml8);
}
.row > .ml-9 {
    margin-left: var(--ml9);
}
.row > .ml-10 {
    margin-left: var(--ml10);
}
.row > .ml-11 {
    margin-left: var(--ml11);
}

.row > .visible {
    display: inline-block;
}
.row > .hidden {
    display: none;
}

@media (min-width: 575px) {
    .container > .row {
        width: 540px;
        margin-left: calc(50% - 270px);
        margin-right: calc(50% - 270px);
    }
    .row > .col-sm-1 {
        width: var(--col1);
    }
    .row > .col-sm-2 {
        width: var(--col2);
    }
    .row > .col-sm-3 {
        width: var(--col3);
    }
    .row > .col-sm-4 {
        width: var(--col4);
    }
    .row > .col-sm-5 {
        width: var(--col5);
    }
    .row > .col-sm-6 {
        width: var(--col6);
    }
    .row > .col-sm-7 {
        width: var(--col7);
    }
    .row > .col-sm-8 {
        width: var(--col8);
    }
    .row > .col-sm-9 {
        width: var(--col9);
    }
    .row > .col-sm-10 {
        width: var(--col10);
    }
    .row > .col-sm-11 {
        width: var(--col11);
    }
    .row > .col-sm-12 {
        width: var(--col12);
    }

    .row > .ml-sm-1 {
        margin-left: var(--ml1);
    }
    .row > .ml-sm-2 {
        margin-left: var(--ml2);
    }
    .row > .ml-sm-3 {
        margin-left: var(--ml3);
    }
    .row > .ml-sm-4 {
        margin-left: var(--ml4);
    }
    .row > .ml-sm-5 {
        margin-left: var(--ml5);
    }
    .row > .ml-sm-6 {
        margin-left: var(--ml6);
    }
    .row > .ml-sm-7 {
        margin-left: var(--ml7);
    }
    .row > .ml-sm-8 {
        margin-left: var(--ml8);
    }
    .row > .ml-sm-9 {
        margin-left: var(--ml9);
    }
    .row > .ml-sm-10 {
        margin-left: var(--ml10);
    }
    .row > .ml-sm-11 {
        margin-left: var(--ml11);
    }

    .row > .visible-sm {
        display: inline-block;
    }
    .row > .hidden-sm {
        display: none;
    }
}

@media (min-width: 767px) {
    .container > .row {
        width: 720px;
        margin-left: calc(50% - 360px);
        margin-right: calc(50% - 360px);
    }
    .row > .col-md-1 {
        width: var(--col1);
    }
    .row > .col-md-2 {
        width: var(--col2);
    }
    .row > .col-md-3 {
        width: var(--col3);
    }
    .row > .col-md-4 {
        width: var(--col4);
    }
    .row > .col-md-5 {
        width: var(--col5);
    }
    .row > .col-md-6 {
        width: var(--col6);
    }
    .row > .col-md-7 {
        width: var(--col7);
    }
    .row > .col-md-8 {
        width: var(--col8);
    }
    .row > .col-md-9 {
        width: var(--col9);
    }
    .row > .col-md-10 {
        width: var(--col10);
    }
    .row > .col-md-11 {
        width: var(--col11);
    }
    .row > .col-md-12 {
        width: var(--col12);
    }

    .row > .ml-md-1 {
        margin-left: var(--ml1);
    }
    .row > .ml-md-2 {
        margin-left: var(--ml2);
    }
    .row > .ml-md-3 {
        margin-left: var(--ml3);
    }
    .row > .ml-md-4 {
        margin-left: var(--ml4);
    }
    .row > .ml-md-5 {
        margin-left: var(--ml5);
    }
    .row > .ml-md-6 {
        margin-left: var(--ml6);
    }
    .row > .ml-md-7 {
        margin-left: var(--ml7);
    }
    .row > .ml-md-8 {
        margin-left: var(--ml8);
    }
    .row > .ml-md-9 {
        margin-left: var(--ml9);
    }
    .row > .ml-md-10 {
        margin-left: var(--ml10);
    }
    .row > .ml-md-11 {
        margin-left: var(--ml11);
    }

    .row > .visible-md {
        display: inline-block;
    }
    .row > .hidden-md {
        display: none;
    }
}

@media (min-width: 991px) {
    .container > .row {
        width: 960px;
        margin-left: calc(50% - 480px);
        margin-right: calc(50% - 480px);
    }
    .row > .col-lg-1 {
        width: var(--col1);
    }
    .row > .col-lg-2 {
        width: var(--col2);
    }
    .row > .col-lg-3 {
        width: var(--col3);
    }
    .row > .col-lg-4 {
        width: var(--col4);
    }
    .row > .col-lg-5 {
        width: var(--col5);
    }
    .row > .col-lg-6 {
        width: var(--col6);
    }
    .row > .col-lg-7 {
        width: var(--col7);
    }
    .row > .col-lg-8 {
        width: var(--col8);
    }
    .row > .col-lg-9 {
        width: var(--col9);
    }
    .row > .col-lg-10 {
        width: var(--col10);
    }
    .row > .col-lg-11 {
        width: var(--col11);
    }
    .row > .col-lg-12 {
        width: var(--col12);
    }

    .row > .ml-lg-1 {
        margin-left: var(--ml1);
    }
    .row > .ml-lg-2 {
        margin-left: var(--ml2);
    }
    .row > .ml-lg-3 {
        margin-left: var(--ml3);
    }
    .row > .ml-lg-4 {
        margin-left: var(--ml4);
    }
    .row > .ml-lg-5 {
        margin-left: var(--ml5);
    }
    .row > .ml-lg-6 {
        margin-left: var(--ml6);
    }
    .row > .ml-lg-7 {
        margin-left: var(--ml7);
    }
    .row > .ml-lg-8 {
        margin-left: var(--ml8);
    }
    .row > .ml-lg-9 {
        margin-left: var(--ml9);
    }
    .row > .ml-lg-10 {
        margin-left: var(--ml10);
    }
    .row > .ml-lg-11 {
        margin-left: var(--ml11);
    }

    .row > .visible-lg {
        display: inline-block;
    }
    .row > .hidden-lg {
        display: none;
    }
}

@media (min-width: 1199px) {
    .container > .row {
        width: 1140px;
        margin-left: calc(50% - 570px);
        margin-right: calc(50% - 570px);
    }
    .row > .col-xl-1 {
        width: var(--col1);
    }
    .row > .col-xl-2 {
        width: var(--col2);
    }
    .row > .col-xl-3 {
        width: var(--col3);
    }
    .row > .col-xl-4 {
        width: var(--col4);
    }
    .row > .col-xl-5 {
        width: var(--col5);
    }
    .row > .col-xl-6 {
        width: var(--col6);
    }
    .row > .col-xl-7 {
        width: var(--col7);
    }
    .row > .col-xl-8 {
        width: var(--col8);
    }
    .row > .col-xl-9 {
        width: var(--col9);
    }
    .row > .col-xl-10 {
        width: var(--col10);
    }
    .row > .col-xl-11 {
        width: var(--col11);
    }
    .row > .col-xl-12 {
        width: var(--col12);
    }

    .row > .ml-xl-1 {
        margin-left: var(--ml1);
    }
    .row > .ml-xl-2 {
        margin-left: var(--ml2);
    }
    .row > .ml-xl-3 {
        margin-left: var(--ml3);
    }
    .row > .ml-xl-4 {
        margin-left: var(--ml4);
    }
    .row > .ml-xl-5 {
        margin-left: var(--ml5);
    }
    .row > .ml-xl-6 {
        margin-left: var(--ml6);
    }
    .row > .ml-xl-7 {
        margin-left: var(--ml7);
    }
    .row > .ml-xl-8 {
        margin-left: var(--ml8);
    }
    .row > .ml-xl-9 {
        margin-left: var(--ml9);
    }
    .row > .ml-xl-10 {
        margin-left: var(--ml10);
    }
    .row > .ml-xl-11 {
        margin-left: var(--ml11);
    }

    .row > .visible-xl {
        display: inline-block;
    }
    .row > .hidden-xl {
        display: none;
    }
}

@media (min-width: 1399px) {
    .container > .row {
        width: 1320px;
        margin-left: calc(50% - 660px);
        margin-right: calc(50% - 660px);
    }
    .row > .col-xxl-1 {
        width: var(--col1);
    }
    .row > .col-xxl-2 {
        width: var(--col2);
    }
    .row > .col-xxl-3 {
        width: var(--col3);
    }
    .row > .col-xxl-4 {
        width: var(--col4);
    }
    .row > .col-xxl-5 {
        width: var(--col5);
    }
    .row > .col-xxl-6 {
        width: var(--col6);
    }
    .row > .col-xxl-7 {
        width: var(--col7);
    }
    .row > .col-xxl-8 {
        width: var(--col8);
    }
    .row > .col-xxl-9 {
        width: var(--col9);
    }
    .row > .col-xxl-10 {
        width: var(--col10);
    }
    .row > .col-xxl-11 {
        width: var(--col11);
    }
    .row > .col-xxl-12 {
        width: var(--col12);
    }

    .row > .ml-xxl-1 {
        margin-left: var(--ml1);
    }
    .row > .ml-xxl-2 {
        margin-left: var(--ml2);
    }
    .row > .ml-xxl-3 {
        margin-left: var(--ml3);
    }
    .row > .ml-xxl-4 {
        margin-left: var(--ml4);
    }
    .row > .ml-xxl-5 {
        margin-left: var(--ml5);
    }
    .row > .ml-xxl-6 {
        margin-left: var(--ml6);
    }
    .row > .ml-xxl-7 {
        margin-left: var(--ml7);
    }
    .row > .ml-xxl-8 {
        margin-left: var(--ml8);
    }
    .row > .ml-xxl-9 {
        margin-left: var(--ml9);
    }
    .row > .ml-xxl-10 {
        margin-left: var(--ml10);
    }
    .row > .ml-xxl-11 {
        margin-left: var(--ml11);
    }

    .row > .visible-xxl {
        display: inline-block;
    }
    .row > .hidden-xxl {
        display: none;
    }
}
