.row {
    padding-bottom: 60px;
}

.blog_link_title {
    font-size: 29px;
    text-decoration: none;
    font-weight: 700;
    width: 100%;
    color: black;
}

.blog_link_a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    color: black;
}

.blog_link_text {
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.blog_link_read_more {
    text-decoration: none;
    font-weight: 700;
    color: #6c757d;
}

.our_blog_item > .paragraph {
    color:  #6c757d;
    margin-bottom: 0px;
}

.blog_item {
    text-align: center;
    padding: 16px;
    background-color: rebeccapurple;
}

.blog_img {
    border-radius: 5px;
    width: 100%;
}

.services_item > .title {
    font-size: 20px;
}

