.row-blog {
    padding-top: 38px;
}

.blog-item {
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    padding-bottom: 25px;
    margin-bottom: 18px;
    background-color: #fff;
}

.blog-img {
    border-radius: 5px;
    width: 100%;
    
    margin-bottom: 16px;
}

.blog-link-title {
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    width: 100%;
    color: var(--color-main);
}

.blog-link-title:hover {
    color: var(--color-grey-dark);
}

.blog-link-a {
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    padding-top: 10px;
    color: var(--color-main);
}

.blog-link-a:hover {
    color: var(--color-grey-dark);
}

.blog-link-text {
    text-decoration: none;
    font-weight: 700;
    color: var(--color-main);
}

.blog-link-text:hover {
    color: var(--color-grey-dark);
}

.blog-link-read-more {
    text-decoration: none;
    font-weight: 700;
    color: var(--color-grey);
}

.blog-link-read-more:hover {
    color: var(--color-grey);
}




