.logo-img {
    height: 30px;
}
.meniu-nav {
    float: right;
    margin: 0 50px 0 0;
    padding: 4px;
}

/* ****************************** TRANSPARENT HEADER **************************************** */

.headerBar {
    padding: 10px;
    position: fixed;
    z-index: 100;
    background-color: transparent;
    transition: background-color 1s;
}
.headerBar .logoWhite {
    display: inline-block;
}
.headerBar .logoBlack {
    display: none;
}
.headerBar .meniu-bar-selector {
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 0 14px;
    position: relative;
    transition: color 1s;
    cursor: pointer;
}
.headerBar .meniu-bar-icon {
    color: white;
    text-decoration: none;
    padding: 0;
    font-size: 26px;
    line-height: 30px;
}
.headerBar .meniu-bar-selector::before {
    display: inline-block;
    opacity: 0;
    content: '';
    border: 1px solid white;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translateX(-50%);
    transition: opacity 0.5s;
}

/* ****************************** WHITE HEADER **************************************** */

.headerBar-white {
    background-color: white;    
    padding: 10px;
    position: fixed;
    z-index: 100;
    transition: background-color 1s; 
    box-shadow: 0px 1px 10px grey;
}
.headerBar-white .logoBlack {
    display: inline-block;
}
.headerBar-white .logoWhite {
    display: none;
}
.headerBar-white .meniu-bar-selector {
    color: black;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 0 14px;
    position: relative;
    transition: color 1s;
    outline: none;
    cursor: pointer;
}
.headerBar-white .meniu-bar-icon {
    color: black;
    text-decoration: none;
    padding: 0;
    font-size: 26px;
    line-height: 30px;
}
.headerBar-white .meniu-bar-selector::before {
    display: inline-block;
    opacity: 0;
    content: '';
    border: 1px solid #000;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translateX(-50%);
    transition: opacity 0.5s;
}
.meniu-bar-selector:hover::before, 
.meniu-bar-selector:focus::before {
    display: inline-block;
    opacity: 1;
}

@media (max-width: 768px) { 
    .headerBar {
        background-color: white;
        box-shadow: 0px 1px 10px grey;
        transition: background-color 1s;
    }
    .headerBar .logoWhite {
        display: none;
    }
    .headerBar .logoBlack {
        display: inline-block;
    }
    .headerBar .meniu-nav {
        color: black;
    }
    .headerBar .meniu-nav:hover {
        color: black;
    }
}