.headerBar {
    padding: 10px;
    position: fixed;
    z-index: 1;
    background: transparent;
    transition-property: background;
    transition-duration: 0.5s;
}
.headerBar-white {
    background: white;    
    padding: 10px;
    position: fixed;
    z-index: 1;
    transition-property: background;
    transition-duration: 0.5s;   
    box-shadow: 0px 1px 10px grey;
}

.logo-img {
    height: 30px;
}

.meniu-nav {
    float: right;
    margin: 0 50px 0 0;
    padding: 4px;
}

.items {
    background-color: transparent;
    border: none;    
    outline: none;    
}
.meniu-bar-selector {
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 0 14px;
    position: relative;
    transition: color;
    transition-duration: 0.5s;
}

.meniu-bar-selector-black {
    color: black;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 0 14px;
    position: relative;
    transition: color;
    transition-duration: 0.5s;
    outline: none;
}
.meniu-bar-selector:hover, .meniu-bar-selector:focus, .meniu-bar-selector:active {
    color: white; 
    cursor: pointer; 
}
.meniu-bar-selector-black:hover, .meniu-bar-selector-black:focus, .meniu-bar-selector-black:active {
    color: black; 
    cursor: pointer; 
}

.meniu-bar-selector::before {
    display: inline-block;
    opacity: 0;
    content: '';
    border: 1px solid white;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translateX(-50%);
    transition: opacity 0.3s;
}
.meniu-bar-selector-black::before {
    display: none;
    opacity: 0;
    content: '';
    border: 1px solid #000;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translateX(-50%);
    transition: opacity 0.3s;
}
.meniu-bar-selector:hover::before, 
.meniu-bar-selector:focus::before {
    display: inline-block;
    opacity: 1;
}
.meniu-bar-selector-black:hover::before, 
.meniu-bar-selector-black:focus::before {
    display: inline-block;
    opacity: 1;
}
.meniu-bar-icon {
    color: white;
    text-decoration: none;
    padding: 0;
    font-size: 26px;
    line-height: 30px;
}
.meniu-bar-icon-black {
    color: black;
    text-decoration: none;
    padding: 0;
    font-size: 26px;
    line-height: 30px;
}
@media (min-width: 768px) {
    .logoBlack {
        display: none;
    }
}
@media (max-width: 768px) {
    .logoWhite {
        display: none;
    }
    .logoBlack {
        display: inline-block;
    }
    .meniu-nav {
        color: black;
    }
    .meniu-nav:hover {
        color: black;
    }
    .headerBar {
        background: white;
        box-shadow: 0px 1px 10px grey;
        transition-property: background;
        transition-duration: 0.5s;
    }
}
.logo-show {
    display: inline-block;
}
.logo-hide {
    display: none;
}