.numbers-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../../img/numbers-bg.jpg);

    background-position: center;
}
.icon-and-data {
    color: #fff;
    text-align: center;
    border: 1px dashed #fff;
}
