.numbers-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../../img/numbers-bg.jpg);

    background-position: center;
}
.numbers {
    color: #fff;
    text-align: center;
    border: 1px dashed #fff;
    padding: 24px;
    margin-top: 1rem;
}
.numbers-bg > .container > .row > .numbers > .num-icon {
    font-size: 40px;
}
