.main_headings > span {
    font-weight: 700;
}

.before_after_dots::before, .before_after_dots::after {
    display:inline-block;
    position: absolute;
    content: "â—";
    font-size: 10px;
    color: #6c757d;;
}

.container > .row > .services_item > .paragraph {
    color:  #6c757d;
}

.container > .row > .services_item {
    text-align: center;
    border: 1px dotted #e7e7e7;
}

.container > .row > .services_item > .serv-icon{
    font-size: 41px;
    padding: 2rem;
}