.our-work .row{
    overflow:hidden;
}
.our-work .work-m-b {
    display: inline-block;
}
.our-work .work-menu{
    margin-top: 35px;
    margin-bottom: 30px;
}

.work-m-b{
    position: relative;
    margin-right: 28px;
}
.work-m-b:last-of-type{
    margin-right: 0;
}
.work-menu-button{
    font-size: 14px;
    padding: 7px 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

.work-img{
    display: none;
    border-radius: 5px;
    cursor: pointer;
    height:100%;
    transition: all 0.5s ease;
    overflow: hidden;
    object-fit: cover;
}
.work-img:hover{
    transform: scale(1.1);
    
}
.selected, .work-menu-button:hover{
    background-color: var(--color-main);
    color:white;
    border-radius: 5px;
    transition: all 0.5s;
}
.img-row{
    display: inline-block;
    position:relative;
    overflow:hidden;
    margin-bottom: 30px;
}

.img-row:hover .imageOverlay{
    visibility: visible; 
    
}

.img-row:hover .work-img{
    transform: scale(1.1);
}


.imageOverlay{
    visibility: hidden;
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    z-index: 0;
    border-radius: 5px;
    transition: all 150ms ease-in-out 200ms
    
}
.workTitle{
    display: inline-block;
    position:absolute;
    top: 30px;
    right: 25px;
    font-size: 20px;
    color: white;
    transition-timing-function: ease;
}

.workSubtitle{
    display: inline-block;
    position:absolute;
    top: 55px;
    right: 25px;
    font-size:15px;
    color: var(--color-grey-border);
}

@media (min-width: 364px){
    .img-row{
        height: 251px;
    }
}
@media (min-width: 469px){
    .img-row{
        height: 330px;
    }
}
@media (min-width: 574px){
    .img-row{
        height: 382px;
    }
}


@media (min-width: 767px) {
.work-menu-button::after{
    content: "*";
    color: #bbb;
    position:absolute;
    margin-left: 30px;
    top: 10px;
}
.js-Wordpress-menu-btn::after{
    content: none;
}
.img-row{
    height: 517px;
}
}

@media (max-width: 990px) {
    .work-img{
        margin-bottom: 30px;
    }
    .img-row img:last-of-type{
        margin-bottom: 10px;
    }
    }

    
    @media (min-width: 990px) {
        .img-row{
            height: 217px;
        }
    }
    
    @media (min-width: 1198px){
        .img-row{
            height: 262px;
        }
    }
    @media (min-width: 1398px){
        .img-row{
            height: 307px;
        }
    }

    .visible{
        display: inline-block;
    }