.span {
    font-weight: 700;
}

.before_after_dots::before, .before_after_dots::after {
    display:inline-block;
    position: absolute;
    content: "â—";
    font-size: 10px;
    color: #6c757d;;
}

.container > .row > .services_item > .paragraph {
    color:  #6c757d;
}